<md-content class="md-padding" layout-md="column" layout-gt-md="row" layout-align="start start">

  <div class="items-card" flex="50" layout="column">
    <md-card layout="column">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Items</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-actions class="items-btns" layout="row" layout-align="start center">
        <div layout="row" flex>
          <!--<md-input-container flex class="md-icon-float md-block md-title">-->
            <!--<label>Type name here...</label>-->
            <input class="title-input" type="text" placeholder="Type name here..." ng-model="vm.title">
          <!--</md-input-container>-->
          <div>
            <md-button class="md-raised md-empeek-btn primary-btn" ng-click="vm.addItem(vm.title)" ng-disabled="!vm.itemsLoaded">
              Add New
            </md-button>
          </div>
        </div>
      </md-card-actions>
      <md-card-content>
        <md-progress-circular
          ng-disabled="!vm.activated"
          class="md-accent md-hue-2 items-loader"
          md-diameter="100"
          ng-show="!vm.itemsLoaded">
        </md-progress-circular>
        <ul class="list-items" ng-show="vm.itemsLoaded">

          <!--class="list-item list-item-active"-->
          <li class="list-item" ng-class="{ 'list-item-active': vm.activeItemIndex === $index }" ng-repeat="item in vm.items" ng-click="vm.selectItem($index)">
              <span class="md-item-in-list ">
                {{ item.title }} <md-badge class="md-item-badge">{{ item.comments.length }}</md-badge>
              </span>
            <md-button class="md-raised md-empeek-btn white-btn item-delete-btn" ng-click="vm.deleteItem($index)">
              Delete
            </md-button>

            <span class="list-item-border"></span>
          </li>

        </ul>
      </md-card-content>
    </md-card>
  </div>

  <div class="comments-card" flex-xs flex="50" layout="column">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Comments #{{ vm.activeItemIndex + 1 }}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <ul class="comments-list">

          <li ng-repeat="comment in vm.items[vm.activeItemIndex].comments">
            <div class="comment-ava" ng-style="{ 'background-color': comment.avaColor }"></div>
            <div class="comment">
              <span>{{ comment.text }}</span>
            </div>

            <span class="list-comment-border"></span>
          </li>

        </ul>
        <md-progress-circular
          class="md-accent md-hue-2 items-loader"
          md-diameter="100"
          ng-show="!vm.commentsLoaded">
        </md-progress-circular>

        <div class="new-comment">
          <div class="comment-ava"></div>
            <textarea
              class="text-textarea"
              cols="49"
              required
              ng-model="vm.text"
              ng-keydown="$event.keyCode == 13 && vm.addComment()"
              placeholder="Enter your comment here and hit enter key...">
            </textarea>
        </div>
      </md-card-content>
    </md-card>
  </div>
</md-content>
